<div class = "container">
  <div class = "row col-xs-12 lgImgHolder">
    <%= image_tag @pokemon.name.downcase + ".gif", :class => "lgImg" , :align => "bottom" %>
    <h3> <%= @pokemon.name %></h3>
  </div>

  <div class = "row col-xs-12">
    <div class="progress">
      <div id = "hp" class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@pokemon.baseStats[0]*100/255)%>%">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
    <div class="progress">
      <div id = "atk" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@pokemon.baseStats[1]*100/255)%>%">
        <span class="sr-only">20% Complete</span>
      </div>
    </div>
    <div  class="progress">
      <div id = "def" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@pokemon.baseStats[2]*100/255)%>%">
        <span class="sr-only">60% Complete (warning)</span>
      </div>
    </div>
    <div  class="progress">
      <div id = "spatk" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@pokemon.baseStats[3]*100/255)%>%">
        <span class="sr-only">80% Complete (danger)</span>
      </div>
    </div>
    <div  class="progress">
      <div id = "spdef" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@pokemon.baseStats[4]*100/255)%>%">
        <span class="sr-only">80% Complete (danger)</span>
      </div>
    </div>
    <div  class="progress">
      <div id = "spe" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@pokemon.baseStats[5]*100/255)%>%">
        <span class="sr-only">80% Complete (danger)</span>
      </div>
    </div>
  </div>
</div>
