<div class="container">
  <!-- Head of Table can go here-->
  <% @pokemons.each do |pokemon| %>
    <%= link_to (pokemon), method: :get, remote: true do%>
      <%= div_for(pokemon, class: "row" ) do%>
        <span class = "col-xs-2 vcenter">
          <%= pokemon.number.to_s.rjust(3,'0') %>
        </span>
        <span class = "col-xs-4 vcenter">
          <%= image_tag pokemon.number.to_s.rjust(3,'0') + ".png", :class => "smImg pixelated"  %>
        </span>
        <span class = "col-xs-6 vcenter">
          <%= pokemon.name %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>


<br>
