<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @ability.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ability.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ability.description %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @ability.shortdescription %>
</p>

<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
