<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th></th>
      <th>Name</th>
      <th>Type1</th>
      <th>Type2</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.number %></td>
        <td><%= image_tag pokemon.number.to_s.rjust(3,'0') + ".png" %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.type1 %></td>
        <td><%= pokemon.type2 %></td>
        <td><%= link_to 'Show', pokemon %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
